@import "mixins";
@import "props";

// Section header.
:host {
  @include flex(center, space-between);
  @include padding(10px 0);
}

// Default font size.
h4, button {
  font-size: 14px;
  font-weight: normal;
  color: $white;
}

// Button style.
button {
  cursor: pointer;
  user-select: none;
}
