@import "mixins";
@import "props";

// container
:host {
  display: block;
}

// result
.l-result {
  @include flex(center);
  height: 35px;
  margin-top: 10px;

  > app-text {
    width: 40px;
  }

  &:hover {
    .l-bar-thumb {
      background-color: lighten($maya-blue, 10%);
    }
  }
}

// bar
.l-bar {
  @include flex(center);
  @include padding(0 10px);
  position: relative;
  // {total} - {label-width}
  width: calc(100% - 40px);
  height: 100%;

  app-text {
    position: relative;
    z-index: 10;
  }
}

// bar thumb
.l-bar-thumb {
  position: absolute;
  background-color: $maya-blue;
  height: 100%;
  top: 0;
  left: 0;
}
