@import "mixins";
@import "props";

// container
:host {
  display: block;
  margin: 50px 0;
}

// container
.l-container {
  @include flex(flex-start, center);

  @include screen-under(767px) {
    @include flex(center, flex-start, column);
  }
}

// lotto drawer
app-lotto-drawer {
  position: sticky;
  top: 0;

  @include screen-under(767px) {
    position: relative;
  }
}

// statistics
app-statistics {
  margin-left: 45px;

  @include screen-under(767px) {
    margin-left: 0;
    margin-top: 30px;
  }
}
