@import "mixins";
@import "props";

// Checkbox.
:host {
  @include flex(center, center);
  @include box(24px);
  background-color: $white-a20;
  cursor: pointer;
  user-select: none;

  app-icon {
    @include box(24px);
  }

  // Focused state.
  &:focus {

  }

  // Disabled state.
  &.tk-disabled {
    pointer-events: none;
  }

  // Invalid state.
  &.ng-dirty, &.ng-touched {
    &.ng-invalid {

    }
  }

  // Checked state.
  &.tk-checked {
    background-color: $white;
  }
}
