@import "mixins";
@import "props";

$span-size: 30px;

// container
:host {
  display: block;
}

.l-flex {
  @include flex(center);
  margin-top: 10px;

  span {
    @include flex(center, center);
    width: $span-size;
  }

  app-select {
    width: calc((100% - #{$span-size}) / 2);
  }
}
