@import "mixins";
@import "props";

// Notice line.
:host {
  @include rect(100%, 40px);
  @include padding(0 10px);
  @include flex(center);
  background-color: $white-a20;
  cursor: pointer;
  user-select: none;
}

// Megaphone icon.
app-icon {
  @include box(24px);
}

// Container for rolling titles.
.rolling-container {
  // Reduce icon width and margin.
  width: calc(100% - 24px - 10px);
  height: 100%;
  // Hide overflew titles.
  overflow: hidden;
}

// Notice title.
p {
  @include ellipsis();
  @include flex(center);
  height: 100%;
  margin-left: 10px;
  font-size: 14px;
}
