@import "mixins";
@import "props";

// input field
.tk-input-field {
  @include padding(0 15px);
  @include border(1px solid $black-20);
  background-color: $white;
  height: 35px;
  font-size: 14px;

  &::placeholder {
    color: #E1E1E1;
  }

  &.ng-touched, &.ng-dirty {
    &.ng-invalid {
      background-color: $sunset-orange;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
