@import "mixins";
@import "props";

// Styles for `InputDirective`.
.tk-input {
  @include padding(0 15px);
  background-color: $white-a20;
  color: $white;

  &::placeholder {
  }

  // Set style for focused state.
  &:not(.tk-disabled) {
    &.tk-focused {
      background-color: $white-a50;
    }
  }

  // Set style for disabled state.
  &.tk-disabled {
  }

  // Set style for error state.
  &.ng-dirty, &.ng-touched {
    &.ng-invalid {

    }
  }
}

// Remove number input's arrow button for Chrome, Safari, Edge and Opera.
.tk-input::-webkit-outer-spin-button,
.tk-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove number input's arrow button for Firefox.
.tk-input[type=number] {
  -moz-appearance: textfield;
}
