$black: #000;
$white: #fff;
$smalt: #003E92;
$black-15: rgba($black, .15);
$black-20: rgba($black, .20);
$black-30: rgba($black, .30);
$black-50: rgba($black, .50);
$sunset-orange: #FA4940;
$maya-blue: #67D5FF;
