$black: #000;
$black2: #0D0D0D;
$white: #fff;
$white-a20: rgba($white, .20);
$white-a50: rgba($white, .50);
$nero: #272727;
$curious-blue: #227DBD;
$safety-orange: #F46D00;
$zambezi: #5D5D5D;
$golden-poppy: #FBC400;
$maya-blue: #69C8F2;
$salmon: #FF7272;
$dark-grey: #AAAAAA;
$conifer: #B0D840;
$danube: #7196C9;
