@import "mixins";
@import "props";

// container
:host {
  @include box(30px);
  @include flex(center, center);
  @include border(1px solid $black-15);
  text-align: center;
  font-size: 14px;
  color: $sunset-orange;
  cursor: pointer;
  user-select: none;
  transition: background-color .1s, color .1s;

  &.l-selected {
    background-color: $sunset-orange;
    color: $white;
  }
}
