<div class="l-header">
  <app-text>
    {{data.result.round}}회
  </app-text>

  <ng-container *ngIf="data.prize">
    <app-text type="default-transparent-more">
      ·
    </app-text>

    <app-text>
      {{data.prize}}등
    </app-text>
  </ng-container>
</div>

<!-- balls -->
<div class="l-balls">
  <!-- normal ball -->
  <div class="l-normal-balls">
    <!-- render balls -->
    <div
      *ngFor="let item of data.result.numbers"
      [class.l-selected]="data.matched[item]"
      class="l-ball">
      {{item}}
    </div>
  </div>

  <app-icon name="add"></app-icon>

  <!-- bonus ball -->
  <div
    [class.l-selected]="data.matched[data.result.bonus]"
    class="l-ball">
    {{data.result.bonus}}
  </div>
</div>
