<!-- Main container. -->
<main>
  <!-- Header. -->
  <div class="header">
    <!-- Logo. -->
    <app-logo></app-logo>
  </div>

  <!-- Notice line. -->
  <app-notice-line
    (click)="openNoticeList()"
    [notices]="notices"></app-notice-line>

  <!-- Tabs. -->
  <app-page-tabs></app-page-tabs>

  <!-- Router container. -->
  <div class="router-container">
    <!-- Router outlet. -->
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer. -->
<app-footer></app-footer>

<!-- Message outlet. -->
<app-message-outlet></app-message-outlet>

<!-- Modal outlet. -->
<app-modal-outlet></app-modal-outlet>
