@import "mixins";
@import "props";

:host {
  ::ng-deep {
    > * {
      pointer-events: auto;
    }
  }

  @include flex(center, center);
  position: relative;
  max-width: calc(100% - 40px);
  width: 100%;
  z-index: 10;
  pointer-events: none;
  height: calc(100% - 40px);
  max-height: 600px;
}
