@import "mixins";
@import "props";

// container
:host {
  display: block;
}

// result item
.l-result {
  @include flex(center, space-between);
  height: 35px;
}

// empty
.l-empty {
  @include flex(center, center);
  @include padding(50px 0);
  text-align: center;
}

app-sub-header + .l-result {
  margin-top: 10px;
}
