@import "mixins";
@import "props";

// container
:host {
  @include border(1px solid $black-15);
  @include padding(10px);
  display: block;
}

// numbers
.l-numbers {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
  // ({host content width} - {numbers total width}) / {gap size}
  grid-column-gap: calc((268px - 210px) / 6);
  grid-row-gap: 10px;
}

// buttons
.l-buttons {
  @include flex();
  margin: 25px 0;

  button {
    @include item-flex(1, 1, 0);
  }

  button + button {
    margin-left: 10px;
  }
}

// button
button {
  height: 40px;
}

// bottom
.l-bottom {
  @include flex(center, space-between);
  margin-bottom: 15px;
}

// checkboxes
.l-checkboxes {
  @include flex();

  app-labeled-checkbox + app-labeled-checkbox {
    margin-left: 10px;
  }
}
