@import "mixins";
@import "props";

// Statistics page.
:host {
  display: block;
}

// Checkbox container.
.checkbox-container {
  @include flex(center, space-between);
  margin-top: 20px;

  label {
    font-size: 14px;
  }
}

// Space between sections.
section + section {
  margin-top: 30px;
}
